 <div class="row">
    <div class="col-md-12" ng-show="members.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-member/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Member</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Nama Member&nbsp;</th>
        <th>Alamat Member&nbsp;</th>
        <th>Telepon Member&nbsp;</th>
        <th>Member Tanggal Masuk&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in members">
                <td>{{data.member_nama}}</td>
                <td>{{data.member_alamat}}</td>
                <td>{{data.member_telp}}</td>
                <td>{{data.member_tgl_masuk}}</td>
                <td><a href="#/edit-member/{{data.member_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Member</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="members.length == 0">
        <div class="col-md-12">
            <h4>No members found</h4>
        </div>
    </div>
</div>